.mainlist {
  display: flex;
}
.cate-menu {
  font-weight: bold;
  list-style-type: none;
  display: inline-block;
  margin-top: 50px;
}
.cate-link {
  text-decoration: none;
  display: inline-block;
  padding: 20px;
}
.product-list {
  padding: 5vw;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  justify-content: space-between;
  /* flex-wrap: wrap; */
  align-items: center;
}
.img-display {
  width: 75%;
  margin-left: 25px;
}
.img-display-page {
  width: 95%;
}
.navbar-expand-sm .navbar-collapse {
  justify-content: flex-end;
}
#demo {
  margin-top: 60px;
}
.cara {
  width: 50%;
  margin-left: 25%;
}
.btn {
  display: flex;
  margin-left: 80%;
}
.upcoming {
  margin: 60px 5px 5px 5px;
  padding: 5px;
  border: 1px solid black;
}
.h3-upcoming {
  list-style: none;
}
.con-cover-img {
  margin-top: 60px;
}
.contact-img {
  width: 100%;
}
.contact-detail {
  list-style: none;
  text-align: center;
}
