/*Golbal Navigation bar the CSS of it*/
.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  width: 60%;
}
.menu-btn {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.menu-burger {
  width: 4px;
  height: 40px;
  background-color: black;
  border-radius: 3px;
  transition: all 0.5s ease-in-out;
}
.menu-burger::before,
.menu-burger::after {
  content: "";
  position: absolute;
  width: 4px;
  height: 40px;
  background-color: black;
  border-radius: 3px;
  transition: all 0.5s ease-in-out;
}
.menu-burger::before {
  transform: translateX(-16px);
}
.menu-burger::after {
  transform: translateX(16px);
}
.menu-btn.open .menu-burger {
  transform: translateY(50px);
  background: transparent;
}
.menu-btn.open .menu-burger::before {
  transform: rotate(45deg) translate(-35px, -35px);
}
.menu-btn.open .menu-burger::after {
  transform: rotate(-45deg) translate(35px, -35px);
}
#side-nav {
  position: absolute;
  /* margin-top: -2vw; */
  height: 90%;
  width: 100%;
  background-color: black;
  opacity: 80%;
}
.dropdown {
  position: relative;
  margin-top: 15%;
  z-index: 1;
}
.drop-list {
  list-style: none;
  text-align: center;
  position: relative;
  line-height: 1.75rem;
}
.drop-list li {
  padding: 1rem;
  font-size: 30px;
}
.drop-list li a {
  color: white;
  padding: 0.5rem;
  text-decoration: none;
}
.drop-list li a:hover {
  background-color: rgb(57, 59, 57);
}
/*Index page CSS*/
.hero {
  position: relative;
  z-index: -1;
}
.hero-logo {
  position: absolute;
  top: 50%;
  left: 10%;
}
/*for about me and about colorflow*/
.about-landing h1 {
  text-align: center;
  color: #09504f;
}
.text-landing {
  text-align: center;
  padding: 1rem;
}
.btn-info {
  color: white;
  background-color: #09504f;
  margin-left: 70%;
  margin-bottom: 10%;
}

/*the slideshow*/
* {
  box-sizing: border-box;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
/*plant a tree*/
.plant-atree h1 {
  text-align: left;
  color: #09504f;
}
.text-img {
  display: grid;
  grid-template-columns: 25% 75%;
  margin-top: -10%;
}
.tree {
  margin-top: 50%;
}
.text-index {
  text-align: center;
  margin-top: 20%;
}
/*Footer*/
.footer {
  background-color: darkgray;
  display: grid;
  grid-template-columns: 15% 15% 15% 55%;
  align-items: center;
}
.logo-f {
  align-content: center;
  margin-left: 15%;
}
.contact-f {
  text-align: right;
  font-size: 35px;
  text-decoration: none;
  margin-right: 10%;
}

.mainlist {
  display: flex;
}
.cate-menu {
  font-weight: bold;
  list-style-type: none;
  display: inline-block;
  margin-top: 50px;
}
.cate-link {
  text-decoration: none;
  display: inline-block;
  padding: 20px;
}
.product-list {
  padding: 5vw;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  justify-content: space-between;
  /* flex-wrap: wrap; */
  align-items: center;
}
.img-display {
  width: 75%;
  margin-left: 25px;
}
.product-page {
  margin-top: 60px;
}
.img-display-page {
  width: 95%;
}
.btn {
  display: flex;
  margin-left: 80%;
}

.upcoming {
  padding: 5px;
  border: 1px solid black;
}
.h3-upcoming {
  list-style: none;
}
.contact-img {
  width: 100%;
}
.contact-detail {
  list-style: none;
  text-align: center;
}
.carousel-item {
  width: 100%;
}
